@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body, html {
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid #cbc5c5;
    padding-left: 10px;
    padding-right: 25px;
    border-radius: 10px;
}
.header > div{
    color: #4c4c4c;
    font-weight: 600;
}
.nav-bar> ul> li> button{
    background-color: #ffa700;;
}

.nav-bar> ul> li:hover{
    color: #ffa700;;
}

.nav-bar{
    display: flex;
}
.nav-bar > ul {
 list-style-type: none;
 display: flex;
 
}

.nav-bar >ul>li{
    padding-left: 28px;
}

.search-bar{
    text-align: center;
    padding: 16px;
}

.search-bar input {
    margin: 7px;
    padding: 16px;
    width: 800px;
    font-size: 18px;
}

.search-bar > input:focus-visible{
    outline-offset: none;
}

.search-bar button{
    height: 57px;
}

.list-item{
    width: 288px;
    padding: 10px;  
}

.list-item:hover{
    cursor: pointer;
    box-shadow: 1px 4px 4px 4px #d1cccc;
}
.restorent-list{
    padding: 10px;
}
.resto-img{
    width: 100%;

}

.card-flex-list{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.card-rating-section{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    font-size: 13px;
}

.Resto-offer{
    margin-top: 10px;
    padding: 8px 0px 6px 0;
    border-top: 1px solid #cdcaca;
    color: #ffa700;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.font-13{
    font-size: 13px;
}
.d-center{
    display: flex;
    align-items: center;
}
.p-left-8{
    padding-left: 8px;
}

.font-theme-color{
    color: #ffa700;
}

.star-rating{
    background-color:#48c479;
    color: white;
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.shimmer-restolist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 90px;
}
.shimmer-card{
    height: 280px;
    width: 280px;
    padding: 10px;
    box-shadow: 0 1px 5px #888;
    padding: 10px;
    margin: 10px;
    animation-name: shimmer-card-animation;
    animation-duration: 4s;
}

  @keyframes shimmer-card-animation {
    from {   box-shadow: 0 1px 5px #888;}
    to {background-color: rgb(250, 250, 249);}
  }


  /* Restorent Menu Style start */
.resto-menuBanner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.banner-img{
    border-radius: 14px;
    margin: 10px;
}
.resto-banner-details{
    margin: 30px;
    color: white;
}

.resto-menuList{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* .resto-menuList{
    border: 1px solid grey;
} */

.item-details{
    justify-content: space-between;
    align-items: center;
    display: flex;
    border: 1px solid grey;
    padding: 20px;
    /* margin: 10px 300px 10px 300px; */
    border-radius: 10px;
}


/* Footer Style */

.f-list-none{
    list-style-type: none;
}


.bg-light-secondary{
    background-color: #F8F9F0;
}

.Help-bg{
    background-color: #37718e
}

.profile-text{
    font-size: 45px;
    color: #f8761b;
    font-weight: 600;
}

.bg-theme{
    background: #f8761b;
}