.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid #cbc5c5;
    padding-left: 10px;
    border-radius: 10px;
}

.nav-bar{

    display: flex;
}
.nav-bar > ul {
 list-style-type: none;
 display: flex;
 
}
.nav-bar >ul>li{
    padding: 10px;
}
.search-bar{
    text-align: center;
    padding: 16px;
}
.list-item{
    width: 200px;
    border: 1px solid #bfb8b8;
    padding: 10px;
    box-shadow: 1px 4px 4px 4px #d1cccc;
    border-radius: 5px;
}
.restorent-list{
    padding: 10px;
}
.resto-img{
    width: 100%;

}

.card-flex-list{
    flex-wrap: wrap;
    display: flex;
}